<html lang = "en">
    <!--Head Tag-->
    <%- include('./partials/head.ejs')%>
    <body>
        <!-- Navigation Bar -->
        <%- include('./partials/intNav.ejs')%>
        <div class = "content">
            <h1>Interpreter Home</h1>
            <p>Welcome to the interpreter home page</p>
        </div>
        <!-- JavaScript file links -->
        <script src="js/scripts.js"></script>
    </body>
</html>