<html lang="en"></html>

<!--Head Tag-->
<%- include('./partials/head.ejs')%>
<body>
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <h1>404 error</h1>
        <h2>file could not be found</h2>
        <i class="fa-solid fa-skull" style="color: white;"></i></div>
    </div>

    <!-- JavaScript file links -->
    <script src="js/scripts.js"></script>
</body>
</html>