<html lang="en">

<!--Head Tag-->
<%- include('./partials/head.ejs')%>

<body>
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs')%>
    <h1>About</h1>
    <section class="about-us">
        <h2>About Us</h2>
        <p>The DUT Booking System is here to simplify the appointment process between students and lecturers. Our goal is to ensure that students get the support they need by providing a platform for easy, organized communication and scheduling.</p>
    </section>

    <!-- JavaScript file links -->
    <script src="js/scripts.js"></script>
</body>
</html>