<html lang="en">

<!--Head Tag-->
<%- include('./partials/head.ejs')%>
<body>
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs')%>

    <main>
        <section class="hero">
            <h1>Welcome to DUT Appointment Booking System</h1>
            <p>Book appointments with interpreter services for your lectures and events.</p>
        </section>
        
        </section>

        <section class="features">
            <h2>What We Offer</h2>
            <div class="feature-grid">
                <div class="feature-item">
                    <img src="/images/schedule.png" alt="Schedule Icon">
                    <h3>Manage Your Appointments</h3>
                    <p>Easily schedule your appointments and manage your time with an intuitive booking system.</p>
                </div>
                <div class="feature-item">
                    <img src="/images/lecture.png" alt="Lecturer Icon">
                    <h3>Lecturer Access</h3>
                    <p>Lecturers can view student appointments, challenges, and prepare accordingly for efficient meetings.</p>
                </div>
                <div class="feature-item">
                    <img src="/images/handshake.webp" alt="Support Icon">
                    <h3>Feedback</h3>
                    <p>Provide feedback on your experience with your interpreters assistance.</p>
                </div>
            </div>
        </section>

        <section class="steps">
            <h2>How It Works</h2>
            <div class="steps-grid">
                <div class="step-item">
                    <span class="step-number">1</span>
                    <h3>Login</h3>
                    <p>Use the credentials given by your co-ordinator</p>
                </div>
                <div class="step-item">
                    <span class="step-number">2</span>
                    <h3>Book an Appointment</h3>
                    <p>Send a request for an interpreter for your given time. Fill in the details of your appointment.</p>
                </div>
                <div class="step-item">
                    <span class="step-number">3</span>
                    <h3>Attend lecture or Event</h3>
                    <p>Attend your scheduled appointment with your interpreter.</p>
                </div>
            </div>
        </section>
    </main>
    <section class="about-us">
        <h2>About Us</h2>
        <p>The DUT Booking System is here to simplify the appointment process between students and lecturers. Our goal is to ensure that students get the support they need by providing a platform for easy, organized communication and scheduling.</p>
    </section>
</body>
</html>
