<html lang="en">

<!--Head Tag-->
<%- include('./partials/head.ejs')%>

<body>
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs')%>

        <h1>Login Page</h1>

        <h2>
            <a href = "lecturer/login">Lecturer</a>
            <a href="interpreter/login">Interpreter</a>
            <a href="student/login">Students</a>
        </h2>
</body>
</html>