<html lang="en">

<!--Head Tag-->
<%- include('./partials/head.ejs')%>

<body>
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs')%>

        <h1>Choose User Area</h1>

        <h2>
            <a href = "student/login"><button>Student</button></a>
            <a href = "lecturer/login"><button>Lecturer</button></a>
            <a href = "interpreter/login"><button>Interpreter</button></a>
        </h2>
</body>
</html>