<header>
    <div class="header-container">
        <img src="/images/Deaf-Centre-Website-1.png" alt="DUT Logo" class="logo">
        <nav>
            <ul>
                <li><a href="home"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="login"><i class="fa-solid fa-circle-user"></i></a></li>
                <li><a href="about"><i class="fa-solid fa-circle-info"></i></a></li>
            </ul>
        </nav>
    </div>
</header>