<header>
    <div class="header-container">
        <img src="/images/Deaf-Centre-Website-1.png" alt="DUT Logo" class="logo">
        <nav>
            <ul>
                <li><a href="home"><i class="fa-solid fa-circle-user"></i> Profile</a></li>
                <li><a href="home1"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="newBooking"><i class="fas fa-calendar-alt"></i> New Bookings</a></li>
                <li><a href="login"><i class="fas fa-sign-in-alt"></i> Logout</a></li>
        </nav>
    </div>
</header>