<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a href = "profile"><img id="userIcon" src="/images/profilePic/pic.png" alt="User Icon" class="navbar-photo"></a>
        </div>
        <ul>
            <li><a href="home"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="noBooking"><i class="fas fa-calendar-alt"></i> Bookings</a></li>
            <li><a href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </nav>
</header>