<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/css/styles4.css">
</head>
<body>

    <div class="login-container">
        <!-- Back button -->
        <button class="back-button" onclick="handleBackClick()">⬅️ Back</button>
        
        <h2>Student Login</h2>
        <form id="login-form" action="login" method = "POST">
            <label for="username">User Email</label>
            <input type="text" name="user"id ="user" placeholder="Enter your email" required>
            
            <label for="password">Password</label>
            <input type="password" name="password"id ="password" placeholder="Enter your password" required>
            <input type="hidden" name="type" value="S">
            <!-- Forgot password link -->
            <button type="submit">Login</button>
        </form>
    </div>
</body>
<script>
function handleBackClick() {
    window.history.back(); // Navigate to the previous page
}
</script>
</html>